.users {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 30px;
}

.usersMain {
    display: flex;
    flex-direction: column;
}

.photo {
    width: 150px;
    height: 120px;
}

button {
    margin: 10px;
}

.selectedPage {
    font-weight: bold;
}

.number {
    padding: 2px;
    cursor: pointer;
}