.header {
    background-image: url(../../img/banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header;
}

.loginBlock {
    float: left;
    padding: 30px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}