.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 30px;
}

.dialog a {
    text-decoration: none;
    color: #000
}

.dialog a.active {
    color: #FFA501;
}

.messages {
    padding: 30px;
}